@{
    ViewBag.Title = "CreateCustomer";
}

<h2>Create New Customer</h2>
@using (Html.BeginForm("NewCustomer", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "submitSuccess()" }))
{
    <input type="text" name="username" placeholder="Your Name">
    <br>
    <input type="text" name="password" placeholder="Your Password">
    <br>
    <br><br>
    <input type="submit" value="Submit">
}
<script>
    function submitSuccess() {
        alert("Form submitted successfully.");  
    }
</script>